html,
body {
  font-family: "Times New Roman", Times, serif !important;
}
.circle {
  margin: auto;
  height: 380px;
  width: 380px;
  border-radius: 50%;
  z-index: 999;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 7%;
}
.relative {
  position: relative;
  height: 500px;
}
.btn {
  outline: 0 !important;
  box-shadow: none !important;
}
.american-football {
  animation: slideAmerican 2s ease-in;
  height: 130px;
  position: absolute;
  top: 70%;
  left: -1%;
}
/*images animation start*/
@keyframes slideAmerican {
  0% {
    top: 60%;
    left: 20%;
    opacity: 0.3;
  }
  100% {
    top: 70%;
    left: -1%;
    opacity: 1;
  }
}
.football {
  animation: slideFootball 2s ease-in;
  height: 130px;
  position: absolute;
  top: 38%;
  left: -16%;
}
@keyframes slideFootball {
  0% {
    top: 38%;
    left: 0%;
    opacity: 0.3;
  }
  100% {
    top: 38%;
    left: -16%;
    opacity: 1;
  }
}
.baseball {
  animation: slideBaseball 2s ease-in;
  position: absolute;
  top: -2%;
  left: -3%;
  height: 130px;
}
@keyframes slideBaseball {
  0% {
    top: 8%;
    left: 15%;
    opacity: 0.3;
  }
  100% {
    top: -2%;
    left: -3%;

    opacity: 1;
  }
}
.flag {
  animation: slideFlag 3s ease-in;
  position: absolute;
  top: -16%;
  left: 38%;
  height: 110px;
}
@keyframes slideFlag {
  0% {
    top: 0%;
    left: 38%;
    opacity: 0.3;
  }
  100% {
    top: -16%;
    left: 38%;

    opacity: 1;
  }
}
.tennis {
  animation: slideTennis 2s ease-in;
  position: absolute;
  top: 0%;
  right: -5%;
  height: 130px;
}
@keyframes slideTennis {
  0% {
    top: 10%;
    right: 8%;
    opacity: 0.3;
  }
  100% {
    top: 0%;
    right: -5%;

    opacity: 1;
  }
}
.muscels {
  animation: slideMuscels 2s ease-in;
  position: absolute;
  top: 40%;
  right: -16%;
  height: 130px;
}
@keyframes slideMuscels {
  0% {
    top: 50%;
    right: -6%;
    opacity: 0.3;
  }
  100% {
    top: 40%;
    right: -16%;

    opacity: 1;
  }
}
.basketball {
  animation: slideBasketball 2s ease-in;
  height: 130px;
  position: absolute;
  top: 80%;
  right: 0%;
}
@keyframes slideBasketball {
  0% {
    top: 70%;
    right: 10%;
    opacity: 0.3;
  }
  100% {
    top: 80%;
    right: 0%;

    opacity: 1;
  }
}
.golf {
  animation: slideGolf 2s ease-in;
  position: absolute;
  top: 87%;
  right: 40%;
  height: 130px;
}
@keyframes slideGolf {
  0% {
    top: 77%;
    right: 20%;
    opacity: 0.3;
  }
  100% {
    top: 87%;
    right: 40%;

    opacity: 1;
  }
}
/*images animation ends*/

.border-bottom-orange {
  border-bottom: 2px solid #ee8309;
}
.border-bottom-green {
  border-bottom: 2px solid #09ee83;
}
.border-bottom-red {
  border-bottom: 2px solid #c5311e;
}
.border-bottom-blue {
  border-bottom: 2px solid #19cae9;
}
.mt100 {
  margin-top: 250px;
}
.btn-black {
  color: #000 !important;
  border: 2px solid #000 !important;
  font-weight: 600 !important;
}
.btn-black:hover {
  font-size: 15px;
  transition: 0.5s;
  border: 3px solid #000 !important;
  font-weight: bold !important;
}
body {
  background-color: #eeeeee8c !important;
}
.apps-btn {
  height: 28px;
}
.apps-btn:hover {
  height: 29px;
  transition: 0.6s;
}
::placeholder {
  text-align: center !important;
}
.animate-top1 {
  animation: moveTop1 2s ease-in;
}
.animate-top2 {
  animation: moveTop2 2s ease-in;
}
.animate-bottom1 {
  animation: movebot1 2s ease-in;
}
.animate-bottom2 {
  animation: movebot2 2s ease-in;
}

@keyframes movebot1 {
  0% {
    transform: translateY(70px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes movebot2 {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveTop1 {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveTop2 {
  0% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn-lang {
  background-color: #ee711e !important;
}
.site-content {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
}
.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.square {
  height: 400px;
  width: 400px;
}
.footer {
  position: absolute;
  top: 110%;
  left: 0;
  right: 0;
}
/*mid screens*/
@media screen and (max-width: 1026px) {
  .mt-cards {
    margin-top: 160px !important;
  }
  .site-content {
    position: absolute;
    top: 10%;
  }
}
/*mobile animation*/
@keyframes radiusing {
  0% {
    border-radius: 10px;
  }

  100% {
    border-radius: 10px 100px / 120px;
  }
}

/*mobile screens*/
@media screen and (max-width: 541px) {
  .circle {
    margin: auto;
    height: 280px;
    width: 280px;
    border-radius: 10px 100px / 120px;
    z-index: 999;
    position: absolute;
    right: 0%;
    left: 0%;
    animation: radiusing 2s ease-in;
    border-bottom: 3px solid #d34f1b;
    top: 7%;
  }

  .mt-cards {
    margin-top: 450px !important;
  }
  .square {
    height: 280px;
    width: 280px;
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
  }
  .american-football,
  .baseball,
  .football,
  .golf,
  .basketball,
  .muscels,
  .tennis,
  .flag {
    display: none !important;
  }

  .footer {
    position: absolute;
    top: 170%;
    left: 0;
    right: 0;
  }
}
@media screen and (max-width: 281px) {
  .apps-btn {
    height: 22px;
  }
  .circle {
    margin: auto;
    height: 270px;
    width: 270px;
    border-radius: 10px 100px / 120px;
    z-index: 999;
    position: absolute;
    right: 0%;
    left: 0%;
    border-bottom: 3px solid #d34f1b;
    top: 7%;
    animation: radiusing 2s ease-in;
  }
}
